<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.TestScript</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>category_click</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>homepage_load</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PDP_Click</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Empty_Wishlist</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Add_to_Wishlist</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Footer_Element_Click</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Brand_Megamenu_click</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
