<h2>Methods that were not run</h2><table>
<tr><td>test.TestScript.Add_to_Wishlist</td></tr>
<tr><td>test.TestScript.category_click</td></tr>
<tr><td>test.TestScript.PDP_Click</td></tr>
<tr><td>test.TestScript.Empty_Wishlist</td></tr>
<tr><td>test.TestScript.Footer_Element_Click</td></tr>
<tr><td>test.TestScript.Brand_Megamenu_click</td></tr>
</table>